<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="/images/logo.jpg" alt="">
        </div>
        <div class="header__burger-menu">
            <button><i class="fa-solid fa-bars"></i></button>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="registro">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <section class="home__section--banner">
            <div>
                <img src="/images/img-banner.jpg" alt="">
            </div>
        </section>
        <section class="home__section--products">
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="banner" src="/images/img-nuevo.png" alt="descuento">
                    <img class="img" src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel
                    veritatis, at numquam!</p>
                <a class="vermas" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="banner" src="/images/img-gratis.png" alt="descuento">
                    <img class="img" src="/images/img-pdto-2.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel
                    veritatis, at numquam!</p>
                <a class="vermas" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="banner" src="/images/img-descuento.png" alt="descuento">
                    <img class="img" src="/images/img-pdto-3.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel
                    veritatis, at numquam!</p>
                <a class="vermas" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="banner" src="/images/img-gratis.png" alt="descuento">
                    <img class="img" src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel
                    veritatis, at numquam!</p>
                <a class="vermas" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="banner" src="/images/img-nuevo.png" alt="descuento">
                    <img class="img" src="/images/img-pdto-2.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel
                    veritatis, at numquam!</p>
                <a class="vermas" href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img class="banner" src="/images/img-descuento.png" alt="descuento">
                    <img class="img" src="/images/img-pdto-3.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel
                    veritatis, at numquam!</p>
                <a class="vermas" href="">ver más</a>
            </article>
        </section>
    </main>
    <footer>
        <nav class="footer__nav">
            <ul>
                <li class="solito-sin-bordeizq"><a href="">Home</a></li>
                <li><a href="/views/registro.html">Quienes</a></li>
                <li><a href="">Servicios</a></li>
                <li><a href="">Porfolio</a></li>
                <li><a href="">Sucursales</a></li>
                <li><a href="">Registro</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>