<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div>
            <img src="/images/logo.jpg" alt="">
        </div>
        <i class="fa-solid fa-bars"></i>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img src="/images/img-nuevo.png" alt="descuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img src="/images/img-gratis.png" alt="descuento">
                    <img src="/images/img-pdto-2.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img src="/images/img-descuento.png" alt="descuento">
                    <img src="/images/img-pdto-3.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img src="/images/img-gratis.png" alt="descuento">
                    <img src="/images/img-pdto-1.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img src="/images/img-nuevo.png" alt="descuento">
                    <img src="/images/img-pdto-2.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
            <article class="home__section__product">
                <div class="home__section__product__photo">
                    <img src="/images/img-descuento.png" alt="descuento">
                    <img src="/images/img-pdto-3.jpg" alt="producto 1">
                    <a href="">ampliar foto</a>
                </div>
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit expedita officia nisi vel veritatis, at numquam!</p>
                <a href="">ver más</a>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">porfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>