footer{
    text-align: center;
}
.footer__nav ul li{
    background-color: var(--colorRojo);
    padding: 10px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

/* MEDIA QUERY | TABLET | 768px */
@media (min-width: 768px){
    
}

/* MEDIA QUERY | DESKTOP | 1200px */
@media (min-width: 1200px){
    
}