:root{
    --colorGrisOscuro :  #92908b;
    --colorGrisClaro :  #bbbfbe;
    --colorRojo : #b81e14;
    --colorLetras: #36363E;
    --azulFuerte: #0240B1;
    --azulClaro: #1A79ED;
    --grisClaro: #F7F8F7;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}
li{
    list-style: none;
}
ul,ol{
    padding: 0;
}
a{
    text-decoration: none;
    color: #ffffff; 
}